@import '../../../../global.scss';
.countries {
    padding: 20px;
    border-radius: 10px !important;
    box-shadow: 0 4px 8px #bec1e0 !important;
    .global {
        display: flex;
        justify-content: space-between;
        margin-bottom: 15px;
        align-items: center;
        width: 100%;
        padding: 0 10px;
        color: #262c7c;
        border-radius: 5px;
        border: solid 2px #262c7c;
        height: 44px;
        font-size: 15px;
        .global__name {
            font-weight: 600;
        }
    }
}