@import '../../global.scss';
.covidEducate {
    margin-top: 30px;
    .heading {
        font-size: 32px;
        font-weight: 500;
    }
    .educateGrid {
        display: flex;
        justify-content: center;
        margin: 30px 0 80px 0;
    }
    .card {
        padding: 20px;
        margin: 0 20px 30px 20px;
        text-align: center;
        border-radius: 10px;
        box-shadow: $shadow;
        &:hover {
            transform: scale(1.1) !important;
            @include mobile {
                transform: scale(1.02) !important;
            }
        }
        .cardMedia {
            height: 107px;
            margin: 0 auto;
            width: 107px;
            &.preventMedia {
                margin: 0 15px;
            }
        }
        .cardContent {
            .heading {
                color: $primaryColor !important;
                margin-bottom: 25px;
                font-size: 24px;
            }
            .text {
                color: #6468a1;
            }
        }
        &.prevent {
            background-color: transparent !important;
            text-align: left;
            // box-shadow: none;
            margin: 20px 30px;
            padding: 20px 0;
        }
    }
}